<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Seu Saldo!.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
				<key>dateExpires</key>
				<string>23/07/2019</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Branch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CPF_CNPJ_Validator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CreditCardValidator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>InputMask.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PKHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TextFieldEffects.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>908F61226454298899BDB5CCAB1D76F7544D2BFA</string>
						<key>dateExpires</key>
						<string>23/07/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>T4NRKRF388.br.com.zazzytec.seuSaldo.seuSaldoToday</string>
						<key>com.apple.developer.team-identifier</key>
						<string>T4NRKRF388</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.br.com.zazzytec.meuSaldo</string>
							<string>group.br.com.zazzytec.consultaI</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>Seu Saldo!Today.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>b8e8ed42-e446-47a3-b4f9-2bb7314db138</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: br.com.zazzytec.seuSaldo.seuSaldoToday</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T4NRKRF388</string>
						<key>name</key>
						<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T4NRKRF388.br.com.zazzytec.seuSaldo</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:*.zazzytec.com.br</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>T4NRKRF388</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.br.com.zazzytec.meuSaldo</string>
					<string>group.br.com.zazzytec.consultaI</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>T4NRKRF388.br.com.zazzytec.meuSaldo</string>
				</array>
			</dict>
			<key>name</key>
			<string>Seu Saldo!.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>646f8af2-249e-4bd9-b52a-b46be3e78744</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: br.com.zazzytec.seuSaldo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T4NRKRF388</string>
				<key>name</key>
				<string>ZAZZY DESENVOLVIMENTO DE SOFTWARES E APLICATIVOS LTDA</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
